.flex {
  display: flex;
  padding-top: 10px;
  margin-bottom: 50px;
}

.input-seconds {
  padding: 10px;
  margin-right: 20px;
  color: blue;
}

.start-timer {
  padding: 10px;
  margin-right: 20px;
}

.timer {
  font-size: 32px;
  color: red;
}
